:root {
  --main-text-color: #ffffff;
  --second-text-color: #434455;
  --hero-text-color: #2e2f42;
  --team-text-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
}

.wrapper-header {
  width: 1440px;
  display: flex;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}
.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.header-logo span {
  color: #2e2f42;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.header-menu-link:is(:hover, :focus) {
  color: #404bbf;
}

/**-------------------HERO--------**/

.address {
  font-style: normal;
  font-weight: 400;
}

.adres-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.adres-link:is(:hover, :focus) {
  color: #404bbf;
}

.hero {
  background: #2e2f42;
}

.hero-titlo {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  background: #4d5ae5;
}
.hero-btn:is(:hover, :focus) {
  background-color: #404bbf;
  cursor: pointer;
}
/*?----------------ADVANTAGES----------?*/

.advantages {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.hero-advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.hero-advantages {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
}

.hero-result {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
}
.text-footer {
  color: #f4f4fd;
}
.team {
  background-color: var(--team-text-color);
}

.team-menu-item {
  background-color: var(--main-text-color);
}

.dark-bgr {
  background-color: var(--hero-text-color);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.foto-item {
  background: var(--main-text-color);
}
.button-text {
  color: #4d5ae5;
}

.footer-bgr {
  background: #2e2f42;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/**-----------------------------------PORTFOLIO------------------*/

.portfolio-pictures {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
}

.portfolio-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.button-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
}
.button-text:is(:hover, :focus) {
  background-color: #404bbf;
  color: var(--main-text-color);
  cursor: pointer;
}
